# Network Configuration
SEPOLIA_RPC_URL=https://1rpc.io/sepolia
PRIVATE_KEY=your_private_key_here

# API Keys
ETHERSCAN_API_KEY=your_etherscan_api_key_here
VITE_WALLET_CONNECT_PROJECT_ID=e08e99d213c331aa0fd00f625de06e66
VITE_RPC_URL=https://1rpc.io/sepolia

# Contract Configuration
VITE_CONTRACT_ADDRESS=0x4a1390b602B658f5800530A54f3e3d8c67D3bc1F

# Pinata IPFS Configuration
VITE_PINATA_API_KEY=your_pinata_api_key_here
VITE_PINATA_SECRET_KEY=your_pinata_secret_key_here
